<div class="container">
    <div #textos>
        <h1>Esta es la pagina de contacto, puedes enviarnos cualquier duda.</h1>
    </div>
    

    <!-- <input type="number" [(ngModel)]="widthSlider" />
    <button (click)="cargarSlider()">Cargar slider</button>
    <button (click)="resetearSlider()">Resetear slider</button>

    <div *ngIf="anchuraToSlider">
        <slider [anchura]= "widthSlider"
                (conseguirAutor)="getAutor($event)"></slider>
    </div>

    <h1>{{autor.nombre}}</h1> -->
  
</div>
