<div id="title">
    <h1>{{title}}</h1>
    <h2>{{subtitle}}</h2>
    <p>{{web}}</p>
</div>

<article class="about">
    <h2>Sobre mí</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas rhoncus sit amet tellus ac hendrerit. Vivamus euismod pretium ipsum eget iaculis. Vivamus sit amet nulla ligula. Etiam egestas lorem a lorem semper, in facilisis dui fermentum. Donec semper, sem eu ullamcorper tincidunt, erat enim porttitor neque, non feugiat lectus ipsum in massa. Mauris non purus quis leo cursus scelerisque. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Donec egestas convallis interdum. Vestibulum convallis elit neque, scelerisque ultricies dolor luctus eu. Fusce sed ornare tortor.
    </p>
</article>
