<header>
  <ul>
    <li><a [routerLink]="['/sobre-mi']" [routerLinkActive]="['active']">Sobre mi</a></li>
    <li><a [routerLink]="['/proyectos']" [routerLinkActive]="['active']">Proyectos</a></li>
    <li id="logo"><a href="#">EC</a></li>
    <li><a [routerLink]="['/contacto']" [routerLinkActive]="['active']">Contactos</a></li>
    <li><a [routerLink]="['/crear-proyecto']" [routerLinkActive]="['active']">Crear Proyectos</a></li>
  </ul>
</header>

<section id="content">
  <router-outlet></router-outlet>
</section>

<footer>
  Blog personal de Eliud Campos &copy;
</footer>

